<div style="width: 20%; float: left">
  <ul class="nav">
    <li [ngClass]="{'active': this.Activeroute === '/visualization'}"><a class="active" [routerLink]="['/visualization']">User Events</a></li>
    <li [ngClass]="{'active': this.Activeroute === '/visualization/compare'}"><a [routerLink]="['/visualization/compare']">Comparison Between Users</a></li>
    <li [ngClass]="{'active': this.Activeroute === '/visualization/topics'}"><a [routerLink]="['/visualization/topics']">Answer Graph</a></li>
  </ul>
</div>
