<div class="container">
  <div class="row">

    <app-header></app-header>
    <h2>User Profile Page for {{username}}</h2>
    <br>
    <a target="_blank" href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15" class="btn btn-success">Go to Stack Overflow</a>
    <span><h4>Login Activity</h4></span>
    <span *ngIf="flag">
        <table class="table table-hover table-striped table-fixed">
      <tr *ngFor="let d of timestamps">
        <td>
          Login made at: {{d}}
        </td>
      </tr>
    </table>
    </span>



    <div class="container">
      <div class="row">

        <h1>Why did you decide to log these actions?</h1>
        <br>
        <table class="table table-bordered table-responsive">
          <th>
            Action
          </th>
          <th>
            Reason
          </th>
          <tr>
            <td>
              Up-vote
            </td>
            <td>
              This action is logged because we can know from this if a user found an answer correct. Stackoverflow is one of the best sites
              to find the answers. If the user clicks up-vote then we should know what answer he found correct.
            </td>
          </tr>
          <tr>
            <td>
              Down-vote
            </td>
            <td>
              This action is logged because we can know from this if a user found an answer incorrect. We should know
              what answer user found incorrect and that should be logged.
            </td>
          </tr>
          <tr>
            <td>
              Scroll
            </td>
            <td>
              I logged this action so that we can know if a user is interested in a particular question. Generally, user scrolls over
              the page only when he finds the content interesting.
            </td>
          </tr>
          <tr>
            <td>
              Post answer
            </td>
            <td>
              A user makes keyboard events to post a particular answer. With the help of mouse and keyboard events we can know what
              user posted for a particular question.
            </td>

          </tr>
          <tr>
            <td>
              Bookmark
            </td>
            <td>
              With the help of click event and target element name, we can know if a person bookmarked a question. This is important
              because with the help of this, we can know if a user is interested in a specific question
            </td>
          </tr>
          <tr>
            <td>
              Question-links
            </td>
            <td>
              With the help of mouse click event, we can know on what question did the user decide to go to. With the help of this,
              we can know what topics user is interested in.
            </td>
          </tr>
          <tr>
            <td>
              Mouse events
            </td>
            <td>
              With the help of the mouse events, we can know what part of the page user was hovering over and with this we can
              know the topics in which he is interested in.
            </td>
          </tr>
          <tr>
            <td>
              <strong>Bonus: </strong>
              Time
            </td>
            <td>
              The website logs the time between each click and mouse event which helps in determining if the user found a
              particular issue difficult. Difficulty level of a topic can be decided with the help of time spent.
            </td>
          </tr>

        </table>
      </div>
    </div>



  </div>
</div>
