<div class="container">
  <div class="row">
    <app-header></app-header>
    <div>
    <div style="float:left;">
      <h4>User Stackoverflow Log</h4>
    </div>
      <div style="float: right">
    <button (click)="refresh()" class="btn btn-success" style="float:right;">Refresh Logs Table</button>
      </div>
    </div>
    <br>
    <table class="table table-hover table-striped table-bordered" *ngIf="flag">
      <th>
        Event Type
      </th>
      <th>
        Target
      </th>
      <th>
        URL
      </th>
      <th>
        Page content
      </th>
      <th>
        Timestamp
      </th>
      <th>
        Time between events (seconds)
      </th>
      <tr *ngFor="let k of logs">
        <td>
          {{k.event_type}}
        </td>
        <td>
          {{k.target}}
        </td>
        <td>
          {{k.uri}}
        </td>
        <td>
          {{k.content}}
        </td>
        <td>
          {{k.timestamp}}
        </td>
        <td>
          {{k.time_taken}}
        </td>
      </tr>
    </table>
  </div>
</div>
