<div class="container">
<div class="row">

  <div class="col-md-8 col-md-offset-2">
    <div class="login-box panel panel-default">
      <div class="panel-body" style="margin: 40px 15px;">
        <h2 id="panel_heading"><strong>Register</strong></h2>

        <form>
          <label>Username</label>
          <input type="text" class="form-control" name="username" id="username">
          <br>
          <label>Password</label>
          <input type="password" class="form-control" name="password" id="password">
          <br>
          <br>
          <button (click)="register()" class="btn btn-primary">Register</button>
          <br>
          <br>
          <a routerLink="login">Back to Login</a>
        </form>
      </div>

  </div>
</div>
</div>
</div>
